<div class="cell small-12 medium-6" id="send_newsletter_to_select_users">
  <%= f.check_box :send_to_selected_users, help_text: t(".select_users.help") %>
  <label class="newsletter_copy-selected-users mb-2"><%= t(".copy_recipients_from_newsletter") %>
    <%= select_tag(
        :copy_newsletter_selected_users_ids,
        options_for_select(f.object.newsletters_with_selected_recipients_options),
        include_blank: t(".select_newsletter")
    ) %>
  </label>

  <%= cell(
        "decidim/admin/multi_select_picker",
        nil,
        context: {
          view_context: self,
          current_user:,
          select_id: "users-ids-select",
          field_name: "newsletter[selected_users_ids][]",
          options_for_select: Decidim::User.not_deleted.confirmed.where(organization: current_organization).where.not(newsletter_notifications_at: nil).map { |user| ["#{user.name} (#{user.email})", user.id] },
          selected_values: selected_options(:selected_users_ids).values.flatten,
          placeholder: t(".select_users.title"),
          class: "mt-2 js-verification-multiselect"
        }
      ) %>
</div>

<%= append_stylesheet_pack_tag "newsletter" %>
