<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <%= settings_fields.translated :editor, :body, label: t(".body") %>

  <%# START DIBA CUSTOMIZATION %>
  <div class="newsletter-colors-selector">
    <%= settings_fields.text_field :header_background_color, label: t(".header_background_color"), type: "color", value: form.object.settings.header_background_color || "#1a181d" %>
    <%= settings_fields.text_field :body_background_color, label: t(".body_background_color"), type: "color", value: form.object.settings.body_background_color || "#fefefe" %>
    <%= settings_fields.text_field :body_font_color, label: t(".body_font_color"), type: "color" %>
  </div>
  <% form.fields_for :images, form.object.images do |images_fields| %>
    <%= images_fields.upload :header_logo, label: t(".header_logo") %>
  <% end %>
  <%# END DIBA CUSTOMIZATION %>
<% end %>

<div class="row column">
  <%= t(".interpolations_hint") %>
</div>
