<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t('.title') %>
  </h1>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= form_for @organization, url: api_config_path, html: { class: 'form form-defaults' } do |f| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <div class="row column">
              <%= f.text_field :diba_census_api_ine %>
            </div>
            <div class="row column">
              <%= f.text_field :diba_census_api_username %>
            </div>
            <div class="row column">
              <%= f.password_field :diba_census_api_password, value: '' %>
            </div>
          </div>
        </div>
      </div>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t('.submit'), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
