<%# START DIBA CUSTOMIZATION %>
<style>
  table td .decidim-bar {
    background-color: <%= header_background_color %> !important;
  }

  .newsletter-body {
    background-color: <%= body_background_color %> !important;
  }

  .newsletter-body p {
    color: <%= body_font_color %> !important;
  }

  .newsletter-body h2 {
    color: <%= body_font_color %> !important;
  }

  .newsletter-body h3 {
    color: <%= body_font_color %> !important;
  }

  .newsletter-body h4 {
    color: <%= body_font_color %> !important;
  }

  .newsletter-body h5 {
    color: <%= body_font_color %> !important;
  }

  .newsletter-body h6 {
    color: <%= body_font_color %> !important;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-left {
    text-align: left;
  }

  .ql-align-justify {
    text-align: justify;
  }
</style>
<%# END DIBA CUSTOMIZATION %>

<table class="main container">
  <tr>
    <td class="decidim-bar">
      <table class="row collapse">
        <tr>
          <th class="small-3 large-3 first columns decidim-bar">
            <table>
              <tr>
                <th>
                </th>
              </tr>
            </table>
          </th>
          <th class="small-6 large-6 columns decidim-bar">
            <table>
              <tr>
                <th>
                  <center>
                    <%# START DIBA CUSTOMIZATION %>
                    <%= render partial: "mailer_logo", locals: { organization: organization, custom_url_for_mail_root: custom_url_for_mail_root } %>
                    <%# END DIBA CUSTOMIZATION %>
                  </center>
                </th>
              </tr>
            </table>
          </th>
          <th class="small-3 large-3 last columns decidim-bar">
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </td>
  </tr>
  <%# START DIBA CUSTOMIZATION %>
  <tr class="newsletter-body">
  <%# END DIBA CUSTOMIZATION %>
    <td>
      <table class="spacer">
        <tbody>
          <tr>
            <td height="40px" style="font-size:40px;line-height:40px;"> </td>
          </tr>
        </tbody>
      </table>

      <table class="row content">
        <tr>
          <th class="small-12 first columns">
            <%= body %>
          </th>
          <th class="expander"></th>
        </tr>
      </table>

      <table class="row">
        <tr>
          <th class="small-12 first columns">
          </th>
          <th class="expander"></th>
        </tr>
      </table>

      <table class="row">
        <tr>
          <th class="expander"></th>
          <th class="small-12 first columns cityhall-bar">
            <div class="decidim-logo" style="float: right; text-align: right; padding-right: 16px">
              <% if custom_url_for_mail_root.present? %>
                <%= link_to organization_name(organization).html_safe, custom_url_for_mail_root %>
              <% else %>
                <%= link_to organization_name(organization).html_safe, decidim.root_url(host: organization.host) %>
              <% end %>
            </div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
